@using WebStoreProject.Models;

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Summary</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayName("Product name")
                        </th>
                        <th>
                            @Html.DisplayName("Quantity")
                        </th>
                        <th>
                            @Html.DisplayName("Price")
                        </th>
                    </tr>

                    @foreach (var cart in (List<ShoppingCart>)Session["Cart"])
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => cart.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => cart.Quantity)
                            </td>
                            <td>
                                @{
                                    var sum = String.Format("{0:N2}", @cart.Product.Price_brutto * @cart.Quantity);
                                }
                                @sum
                            </td>
                        </tr>
                                    }
                    <tr>
                        @{
                            List<ShoppingCart> temp = (List<ShoppingCart>)Session["Cart"];
                            var total = String.Format("{0:N2}", temp.Sum(x => x.Product.Price_brutto * x.Quantity));
                        }
                        <td colspan="2"></td>
                        <td>@total</td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Order")'">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    Purchase
                </button>
            </div>
        </div>
    </div>
</div>